<article id="emi-loan" class="panel ">
    <div class="content">
        {{> back-button}}
        <div class="inner">
            <header>
                <h2>EMIs / Loans</h2>
                <h4> Total: ₹</h4>
            </header>

        </div>
    </div>
</article>