{{!-- Goals Dash --}}
<article id="goals">
    <h1 class="major">Goals</h1>
    <a href="#add-new-goal" class="button back-btn icon fa-plus">Add New</a>
    <div>
        Count <code>{{#if strat_savings_count}}{{strat_savings_count}}{{else}}0{{/if}}</code>
        Total <code>₹{{#if strat_savings_total}}{{strat_savings_total}}{{else}}0{{/if}}</code>
    </div>

    <section style="margin-top: 1rem">
        {{#unless strat_savings_total}}
        <p class="not-set-up"><span class="fas fa-exclamation-circle"></span> You have no Goals set
            up.</p>
        {{/unless}}

        {{#stratSavingsData strat_savings_data}}{{/stratSavingsData}}
    </section>
    <a href="#" class="button back-btn icon fa-arrow-left">Back</a>
    <a href="#add-new-goal" class="button back-btn icon fa-plus">Add New</a>
</article>

{{!-- Add new Goal --}}
<article id="add-new-goal">
    <h3 class="major">Add Goal</h3>
    <section style="margin-top: 1rem">
        <form method="post" action="/add-strat-saving">
            <div class="fields">
                <div class="field first">
                    <label for="name">Goal Name</label>
                    <input type="text" name="goal_name" id="goal_name" />
                </div>
                <div class="field">
                    <label for="goal_amount">Goal Amount</label>
                    <input type="text" name="goal_amount" id="goal_amount" />
                </div>
                <div class="field">
                    <label for="current_amount">Initial Amount</label>
                    <input type="text" name="current_amount" id="current_amount" />
                </div>
                <div class="field half form-btn">
                    <button type="submit"><span class="fas fa-save"> </span> Save
                    </button>
                </div>
            </div>
        </form>
    </section>
    <a href="#goals" class="button back-btn icon fa-arrow-left">Back</a>
</article>

{{!-- Okay --}}
<article id="goals-okay">
    <h2 class="major">Success</h2>
    <a href="#goals" class="button back-btn icon fa-check">Continue</a>
</article>