<article id="goals">
    <h2 class="major">Goals</h2>
    <div>
        Count <code>{{#if strat_savings_count}}{{strat_savings_count}}{{else}}0{{/if}}</code>
        Total <code>₹{{#if strat_savings_total}}{{strat_savings_total}}{{else}}0{{/if}}</code>
    </div>

    <a href="#" class="button back-btn icon fa-arrow-left">Back</a>
    <a href="#add-new-goal" class="button back-btn icon fa-plus">Add New</a>
</article>

<article id="add-new-goal">
    <h3 class="major">Add Goal</h3>

    <a href="#goals" class="button back-btn icon fa-arrow-left">Back</a>
</article>