<article id="investments" class="panel ">
    <div class="content">
        <div class="inner">
            <header>
                <h2>Investments</h2>
                <h4> Total Invested: ₹</h4>
                <h4> Total Returns: ₹</h4>
            </header>

        </div>

        <ul class="actions">
            <li><a href="#home" class="button small"><span class="fas fa-arrow-left"></span> Back</a></li>
        </ul>
    </div>
</article>