<article id="known-incomes" class="panel ">
    <div class="content">
        <div class="inner">
            <header>
                <h2>Known Incomes</h2>
                <h4> Total (pm): ₹</h4>
            </header>

        </div>
        <ul class="actions">
            <li><a href="#home" class="button small"><span class="fas fa-arrow-left"></span> Back</a></li>
        </ul>
    </div>
</article>