<article id="known-incomes" class="panel ">
    <div class="content">
        {{> back-button}}
        <div class="inner">
            <header>
                <h2>Known Incomes</h2>
                <h4> Total (pm): ₹</h4>
            </header>

        </div>
    </div>
</article>