<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<title>WMMA</title>
	<!--  favicon -->
	<link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16" />
	<meta name="description" content="Work portfolio">
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="assets/css/main.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
		integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<noscript>
		<link rel="stylesheet" href="assets/css/noscript.css" />
	</noscript>
</head>

<body class="is-loading-0 is-loading-1">
	<!-- Wrapper -->
	<div id="wrapper">
		<article id="home" class="panel special">
			{{!-- <div class="image">
				<img src="images/header.jpg" alt="" data-position="center center" />
			</div> --}}
			<div class="content">
				<div class="inner">
					<header>
						<p>Welcome, Rohan.</p>
						<h2>Dash</h2>
					</header>
					<nav id="nav">
						<ul class="actions vertical special">
							<li><a href="#strat-savings" class="button">Strategic
									Saving</a></li>
							<li><a href="#known-incomes" class="button">Known Incomes</a></li>
							<li><a href="#known-expenses" class="button">Known Expenses</a></li>
							<li><a href="#investments" class="button">Investments</a></li>
							<li><a href="#emi-loan" class="button">EMIs/Loans</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</article>
		{{> strat-savings}}
		{{> known-incomes}}
		{{> known-expenses}}
		{{> investments}}
		{{> emi-loan}}

		<!-- Footer -->
		<footer id="footer">
			<p class="copyright">&copy; {{currentYear}} WMMA. Rohan Kalgutkar. </p>
			<p> </p>
		</footer>
	</div>
	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>
</body>

</html>