<!DOCTYPE HTML>
<html>

<head>
    <title>WMMA</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="Yo, where mah money at?" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript>
        <link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <div>
                <img class="logo-img" src="images/logo-w.png" alt="" />
            </div>
            <div class="content">
                <div class="inner">
                    <form class="form-login" method="post" action="/login">
                        <div class="fields">
                            <div class="field">
                                <input type="text" name="username" placeholder="username" />
                            </div>
                            <div class="field">
                                <input type="password" name="password" placeholder="password" />
                            </div>
                            <div class="field">
                                <input type="submit" value="Log in" class="primary" />
                            </div>
                    </form>
                </div>
            </div>
        </header>

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy; {{currentYear}} WMMA</p>
        </footer>

    </div>

    <!-- BG -->
    <div id="bg"></div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

</body>

</html>