<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<title>WMMA</title>
	<!--  favicon -->
	<link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16" />
	<meta name="description" content="Work portfolio">
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="assets/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="assets/css/noscript.css" />
	</noscript>
	<!--[if lte IE 9]>
      <link rel="stylesheet" href="assets/css/ie9.css" />
      <![endif]-->
	<!--[if lte IE 8]>
      <link rel="stylesheet" href="assets/css/ie8.css" />
      <![endif]-->
</head>

<body class="is-loading-0 is-loading-1">
	<!-- Wrapper -->
	<div id="wrapper">
		<article id="home" class="panel special">
			<div class="image">
				<img src="images/header.jpg" alt="" data-position="center center" />
			</div>
			<div class="content">
				<div class="inner">
					<header>
						<p>Welcome, Rohan.</p>
						<h2>Dash</h2>
					</header>
					<nav id="nav">
						<ul class="actions vertical special spinY">
							<li><a href="#work" class="button">Work</a></li>
							<li><a href="#about" class="button">About</a></li>
							<li><a href="#contact" class="button">Contact</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</article>
		<article id="work" class="panel ">
			<div class="image">
				<img src="images/pic02.jpg" alt="" data-position="center center" />
			</div>
			<div class="content">
				<ul class="actions spinX">
					<li><a href="#home" class="button small back">Back</a></li>
				</ul>
				<div class="inner">
					<header>
						<h2>Work</h2>
						<p> I code, create maps and dabble with websites. </p>
					</header>
					<p>I have always been fascinated with code. If I don't know it, I'll find a way to figure it out.
						There's always more that can be learned. Code can be used to automate procedures, which means
						more efficient data processing and analysis.
					</p>
					<p>I have created maps for various publications: thesis and articles included. It's one way to
						showcase cartographic skills whilst being creative.
					</p>
					<p>With various volunteer organizations, I've been fortunate enough to help lower costs by creating
						websites that are simple and work for the organization.
						I recently designed the <a href='www.liffs.org'>Lethbridge International Film Festival</a> and
						the <a href='www.readworldfoundation.org'>ReadWorld Foundation</a> websites.
					</p>
				</div>
			</div>
		</article>
		<article id="about" class="panel ">
			<div class="image">
				<img src="images/pic03.jpg" alt="" data-position="center center" />
			</div>
			<div class="content">
				<ul class="actions spinX">
					<li><a href="#home" class="button small back">Back</a></li>
				</ul>
				<div class="inner">
					<header>
						<h2>About</h2>
					</header>
					<p>Hello, I'm Charmaine Bonifacio. I received my Bachelor of Science degree in Geography with a
						concentration in Geographical
						Information Science (GIS) at the University of Lethbridge in 2013. I also completed a two-year
						Cooperative Education as
						part of my undergraduate degree.
					</p>
					<p>I completed my Master of Science degree in Geography under Dr. Stefan Kienzle and his
						Hydrology/GIS/Modelling lab team
						at the University of Lethbridge in 2016. My research interest focused on modelling the impact of
						climate change in the
						Oldman Reservoir Watershed by coupling an agro-hydrological model with regional climate change
						scenarios.
						For a copy of my thesis, please check the University of Lethbridge <a
							href='https://www.uleth.ca/dspace/handle/10133/4781'>
							institutional repository</a>.
					</p>
					<p>After emigrating from the Philippines in 2000, I lived in New South Wales, Australia and the
						Greater Toronto Area along
						with my family. I currently live in Lethbridge, Alberta where I currently work. For the last 5
						years, I have been actively
						involved in various student and community organizations around Lethbridge.
					</p>
				</div>
			</div>
		</article>
		<article id="contact" class="panel ">
			<div class="image">
				<img src="images/pic04.jpg" alt="" data-position="bottom center" />
			</div>
			<div class="content">
				<ul class="actions spinX">
					<li><a href="#home" class="button small back">Back</a></li>
				</ul>
				<div class="inner">
					<header>
						<h2>Contact</h2>
						<p>Send me a message on LinkedIn <a href="https://ca.linkedin.com/in/charmainebonifacio"
								class="icon fa-linkedin"><span class="label">LinkedIn</span></a>
						</p>
					</header>

					<form method="post" action="#">
						<div class="field half first">
							<label for="name">Name</label>
							<input type="text" name="name" id="name" />
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input type="text" name="email" id="email" />
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="5"></textarea>
						</div>
						<ul class="actions">
							<li><a href="" class="button submit">Send Message</a></li>
						</ul>
					</form>

				</div>
			</div>
		</article>
		<!-- Footer -->
		<footer id="footer">
			<p class="copyright">&copy; 2019 WMMA. Rohan Kalgutkar. </p>
			<p> </p>
		</footer>
	</div>
	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="assets/js/main.js"></script>
</body>

</html>